.frame {
  background-color: whitesmoke;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px 2px whitesmoke;
}

.skeleton {
  background-color: rgb(199, 199, 199);
  margin: 0.75rem 0;
  border-radius: 0.25rem;
}

.skeleton.title {
  height: 1.25rem;
  margin-bottom: 1rem;
}

.skeleton.text {
  height: 0.75rem;
}

.skeleton.width-100 {
  width: 100%;
}

/* animation */
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
